@use "./src/Colors.module";

.solutionsTable {
    border-collapse: collapse;

    tr:nth-child(even) {
        background-color: Colors.$grey;
        color: Colors.$black;
    }

    tr:nth-child(odd) {
        background-color: Colors.$black;
        color: white;
    }

    td, th {
        border: 1px solid Colors.$grey;
        padding: 0.5em;
        text-align: left;
    }

    th {
        font-size: 1.5em;
    }

    td {
        text-transform: uppercase;
    }
}