@use "./src/index";

.solutionsTable {
    border-collapse: collapse;

    tr:nth-child(even) {
        background-color: index.$grey;
        color: index.$black;
    }

    tr:nth-child(odd) {
        background-color: index.$black;
        color: white;
    }

    td, th {
        border: 1px solid index.$grey;
        padding: 0.5em;
        text-align: center;
        min-width: 5em;
    }

    th {
        font-size: 1.5em;
    }

    td {
        text-transform: uppercase;
    }
}