$grey: #adadad;
$yellow: #b59f3b;
$green: #538d4e;

$size: 1.5em;

.tile {
    display: inline-flex;
    text-transform: uppercase;
    color: white;
    width: $size;
    height: $size;
    justify-content: center;
    align-items: center;
    font-size: 2 * $size;
    font-weight: bold;
    text-align: center;
    margin: 0.03em;
    transition: background-color 250ms;
    user-select: none;

    &.unknown {
        background-color: black;
    }

    &.unused {
        color: white;
        background-color: $grey;
    }

    &.notInPosition {
        color: white;
        background-color: $yellow;
    }

    &.inPosition {
        color: white;
        background-color: $green;
    }

    &.empty {
        cursor: not-allowed;
    }

    &.nonEmpty {
        cursor: pointer;
    }
}