@use "./src/Colors.module";

$size: 1.5em;

.tile {
    display: inline-flex;
    text-transform: uppercase;
    color: white;
    width: $size;
    height: $size;
    justify-content: center;
    align-items: center;
    font-size: 2 * $size;
    font-weight: bold;
    text-align: center;
    margin: 0.07em;
    transition: background-color 250ms;
    user-select: none;
    border: 0.05em solid;

    &.unknown {
        background-color: Colors.$black;
        border-color: Colors.$grey;
    }

    &.unused {
        background-color: Colors.$grey;
        border-color: Colors.$grey;
    }

    &.notInPosition {
        background-color: Colors.$yellow;
        border-color: Colors.$yellow;
    }

    &.inPosition {
        background-color: Colors.$green;
        border-color: Colors.$green;
    }

    &.empty {
        cursor: not-allowed;
    }

    &.nonEmpty {
        cursor: pointer;
    }
}